<!doctype html>
<html lang="en" ng-app="suggestionbox" data-framework="firebase">
    <head>
        <meta charset="utf-8">
        <title>Suggestion Box</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="styles.css"/>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Titillium+Web:700" rel="stylesheet">
        <style>[ng-cloak] { display: none; }</style>
    </head>
    <body>
      <div class='header text-center'>
        <span class="pointer"><img src="images/summa.png" style="height:65px;"></img></span>  <span class="pointer">Suggestion Box</span>
      </div>
      <div class='container main' ng-controller="MainCtrl">
        <section>
            <h2 class="sectionTitle">Submit Your Suggestion</h2>
            <div class="submitSuggestion">
              <form ng-submit="addSuggestion()">
                <input type="text" class='form-control form' placeholder="We should have the next Summit in Hawaii" ng-model="newSuggestion" autofocus>
              </form>
              <!-- TODO: change ng-click to submit to firebase -->
              <button type="button" class="submit" ng-click="orderByThis('-date')">suggest</button>
            </div>

            <div class="line"></div>

            <section>
                <h2 class="sectionTitle">Other Suggestions</h2>
                <div class="sort">
                    <!-- <button type="button" ng-click="orderByThis('-upvotes')">order by most popular</button>
                    <button type="button" ng-click="orderByThis('upvotes')">order by least popular</button>
                    <button type="button" ng-click="orderByThis('-date')">order by newest</button>
                    <button type="button" ng-click="orderByThis('date')">order by oldest</button> -->

                    Sort by:
                    <div class="dropdown">
                      <select name="two" class="dropdown-select" ng-click="orderByThis(value)">
                        <option selected="true" disabled="disabled" value="">Select…</option>
                        <option value="-upvotes">Most popular</option>
                        <option value="upvotes">Least popular</option>
                        <option value="-date">Newest</option>
                        <option value="date">Oldest</option>
                      </select>
                    </div>
                </div>

                <div class="list-group">
                    <div ng-repeat="suggestion in suggestions | orderBy : myOrder" class="suggestions" ng-hide="suggestion.upvotes<0">
                        <div class="suggestionVoting">
                            <i class="ion-arrow-up-b pointer suggestionArrow suggestionArrowUp" ng-click="upVote(suggestion)"></i>
                            <span class="SuggestionUpvotes bold">{{suggestion.upvotes}}</span>
                            <i class="ion-arrow-down-b pointer suggestionArrow suggestionArrowDown" ng-click="downVote(suggestion)"></i>
                        </div>
                        <div class="post">
                            <h6 class="titleAndDate right">{{suggestion.date | date : "short"}}</h6>
                            <h4 class="titleAndDate suggestionTitle">{{suggestion.title}}</h4>
                            <!-- <button class='btn btn-danger pull-right' ng-click="removeSuggestion(suggestion)">X</button> -->

                            <div class="commentsBackground">
                                <h5 class="black bold commentsTitle" ng-if="suggestion.comments">Comments</h5>
                                <h5 class="black bold commentsTitle" ng-if="!suggestion.comments">No comments yet</h5>
                                <div ng-repeat="comment in suggestion.comments" class="comments">
                                    <div class="commentVoting">
                                        <i class="ion-arrow-up-b pointer commentArrow commentArrowUp" ng-click="upVoteComment(suggestion, comment)"></i>
                                        <span class="commentUpvotes bold">{{comment.upvotes}}</span>
                                        <i class="ion-arrow-down-b pointer commentArrow commentArrowDown" ng-click="downVoteComment(suggestion, comment)"></i>
                                    </div>

                                    <div class="light leftBorder">
                                        <div class="centered">
                                            <h6 class="titleAndDate right black">{{comment.date | date : "short"}}</h6>
                                            <h5 class="commentTitle"> {{ comment.title }} </h5>
                                        </div>
                                    </div>
                                </div>

                                <div class="leftPadding">
                                    <h5 class="black bold addCommentTitle">Add a comment</h5>
                                    <span class="addComment"><i class="ion-compose" ng-click="showSubmitComment=!showSubmitComment"></i></span>
                                </div>

                                <div class="submitComment" ng-show="showSubmitComment">
                                    <form ng-submit="addComment(suggestion)">
                                      <input type="text" class='form-control form' placeholder="This is a great idea" ng-model="suggestion.newComment" autofocus>
                                    </form>
                                    <!-- TODO: change ng-click to submit to firebase -->
                                    <button type="button" class="submit" ng-click="orderByThis('-date')">comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
      </div>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

    <script src='app.js'></script>
</body>
</html>
