body{
  margin-bottom: 40px;
}
.header {
  color: #6161bc;
  font-size: 65px;
  font-family: 'Titillium Web', sans-serif;
  margin: 20px;
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
.container {
  background-color: #f5f5f5;
  padding: 15px 15px 0 15px;
  border-radius: 15px;
  margin: 0 auto;
  width: 80%;
}
.main {
  font-family: 'Source Sans Pro', sans-serif;
}
.sectionTitle {
  color: #515151;
  margin: 7px 0 12px 10px;
}
.submitSuggestion {
  background-color: lightgrey;
  border-radius: 15px;
  border: 2px solid #6161bc;
  color: #626262;
  padding: 20px;
  margin: 20px 10px 0 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}
input[type=text] {
  border-radius: 10px;
  /*border: 3px solid #6161bc;*/
  border: 1px solid black;
  /*flex: 1;*/
}
.form {
  color: #6161bc;
  /*font-weight: bold;*/
  font-size: 18px;
  /*margin-top: 7px;
  height: 39px;*/
  /*flex-grow: 1;*/
  /*align-content: stretch;*/
  /*display: flex;*/
}
/*form input[type="text"] {
  flex: 1;
}*/
.submit {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #6161bc;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  margin-left: 10px;
  /*padding: 5px 10px;*/
  float: right;
}
.line {
  height: 3px;
  background-color: #515151;
  width: 98%;
  margin: 50px auto 35px auto;
}
.sort {
  margin: 16px 12px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  color: #787878;
}
.dropdown {
  margin-left: 5px;
  align-self: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}
.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}
.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}
.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  color: #394349;
  outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}
.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}
/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 .dropdown {
  z-index: 1;
}
.lt-ie9 .dropdown-select {
  z-index: -1;
}
.lt-ie9 .dropdown-select:focus {
  z-index: 3;
}
/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() {
  .dropdown-select {
    padding-left: 6px;
  }
}
.suggestions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.suggestionVoting {
  width: 118px;
  height: 120px;
  background-color: lightgrey;
  border-radius: 50%;
  margin: 0 10px 0 6px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-self: center;
  align-self: center;
}
.suggestionTitle {
  font-size: 22px;
  margin: 10px 0 20px 0;
}
.suggestionArrow {
  color: #6161bc;
  font-size: 46px;
  align-self: center;
}
.suggestionArrow:hover {
  /*color: #34a4e3;*/
  color: #5b5b5b;
}
.suggestionArrowUp {
  margin-bottom: -11px;
}
.suggestionArrowDown {
  margin-top: -8px;
}
.SuggestionUpvotes {
  color: #626262;
  align-self: center;
  font-size: 20px;
}
.post {
  background: #6161BC; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #34a4e3, #aa64c8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #34a4e3, #aa64c8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #34a4e3, #aa64c8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #34a4e3, #aa64c8); /* Standard syntax (must be last) */
  border-radius: 15px;
  color: white;
  min-width: 85%;
  max-width: 85%;
  padding: 30px 20px 20px 20px;
  margin: 10px;
}
.titleAndDate {
  display: inline;
  margin: 0 0 0 6px;
}
.right {
  float: right;
}
.commentsBackground {
  background-color: #515151;
  border-radius: 10px;
  margin-top: 27px;
  padding-bottom: 1px;
}
.commentsTitle {
  padding-top: 10px;
  padding-left: 20px;
  /*padding-bottom: 2px;*/
  margin-bottom: 0px;
}
.comments {
  color: #dbdcde;
  padding: 8px 20px 0 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.bold {
  font-weight: bold;
}
.light {
  background-color: #5b5b5b;
  border-radius: 3px;
  padding: 0 10px;
  margin: 0px 0 0px 19px;
  /*height: 20px;*/
  /*width: 100%;*/
  min-width: 95%;
  max-width: 95%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
.black {
  color: black;
}
.leftBorder {
  border-left: medium solid #949494;
}
.commentTitle {
  word-wrap: break-word;
  /*ms-word-break: break-all;*/
  /*word-break: break-all;*/
  /*word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;*/
  margin: 0;
}
.commentVoting {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
.commentArrow {
  /*color: #34a4e3;*/
  color: #6161bc;
  font-size: 25px;
}
.commentArrowUp {
  margin-bottom: -7px;
}
.commentArrowDown {
  margin-top: -6px;
}
.commentUpvotes {
  align-self: center;
}
.commentArrow:hover {
  color: #383838;
}
.submitComment {
  background-color: grey;
  border-radius: 15px;
  border: 2px solid black;
  color: #626262;
  margin: 0 20px 20px 20px;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}
.leftPadding {
  padding-left: 21px;
  margin-bottom: 3px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: baseline;
  cursor: pointer;
}
.addCommentTitle {
  align-self: center;
  margin: 0;
}
.addComment {
  font-size: 23px;
  color: #6161bc;
  margin-left: 8px;
  align-self: center;
}
.addComment:hover {
  color: #383838;
}
